/*
/*/

!.gitignore
!.gitconfig
!.githomedirmarker

!.bashrc
!.bash_profile
!.bash_login
!.profile
!.inputrc
!.bash_complete_aliases

!.ssh/
.ssh/*
!.ssh/config
!.ssh/authorized_keys

!bin/
bin/*
!bin/rand
!bin/slime
!bin/color
!bin/jsonpp
!bin/clone_prog
!bin/jq
!bin/dtrx

!apps/
apps/*
!apps/s3fs-1.61.tar.gz
