/*
/*/

!.gitignore
!.gitconfig
!.githomedirmarker

!.bashrc
!.bash_profile
!.bash_login
!.profile

!.ssh/
.ssh/*
!.ssh/config
!.ssh/authorized_keys

!bin/
bin/*
!bin/rand
!bin/slime
!bin/color
!bin/jsonpp

!docs
!dls
!music
!pics
