/*
/*/

!.gitignore
!.gitconfig
!.githomedirmarker

!.bashrc
!.bash_profile
!.bash_login
!.profile
!.inputrc
!.bash_complete_aliases
!.dircolors

!.ssh/
.ssh/*
!.ssh/config
!.ssh/authorized_keys

!bin/
bin/*
!bin/rand
!bin/slime
!bin/color
!bin/jsonpp
!bin/clone_prog
!bin/jq
!bin/dtrx
!bin/urlencode
!bin/urldecode
!bin/dlphotos
!bin/conv_to_prores
!bin/raw_conv

!apps/
apps/*
!apps/s3fs-1.74.tar.gz
